/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#scene {
 -fx-background-color:  linear-gradient(lightgray, gray);
 -fx-border-color: white;
 -fx-border-radius: 20;
 -fx-padding: 10 10 10 10;
 -fx-background-radius: 20;

}